/*CSS Syntax*/
/*selector{}
propertyA: valueA;
propertyB: valueB;

*universal selector, it selects all elements in the web page;
font size - sets the size of the elements. pixels are not the sole measurement of font-size.


*/



*{
	font-family: "courier New",monospace;
	font-size: 20px;
}


/*background color-changes the background clolor of the element*/

html{
	scroll-behavior: smooth;
}

body{
	background-color: skyblue;
}

nav{
	background-color: white;
}

a:hover{
	background-color: #b4d6de;
}

nav > div{
	display: inline-block;
	float: right;
}