*{
	font-family: sans-serif;
	font-size: 20px;
}



#internal{
	color: yellow;
}

h1{
	font-size: 50px;
}

#h2{
	text-transform: uppercase;
}
 
.offered-item{
	background-color: #93C78B;


}

li[target]{
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

img+ul{
	list-style-type: none;
	
}

body img{
	height: 150px;
    width: 150px;
    border-radius: 70px;
}

img~p{
	text-align: center;
}

ul>li{
	letter-spacing: 15px;
}